body {
    background:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(https://images.pexels.com/photos/1269968/pexels-photo-1269968.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260) no-repeat center center/cover;
}
.intro {
    color:rgb(8, 1, 1);
    font-family: 'EB Garamond', serif;
    font-size:1.5em;
    line-height: 1.1;
}
h1 {
    font-family: sans-serif(blue serif);
    font-size:4.8em;
    text-align:center;
    color: ivory;

}
c-phrase {
    color:white;
    font-family: 'EB Garamond', serif;
    font-size:1.8em;
    text-align: center;
}
.fwm {
    color:rgb(235, 232, 234);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
}
label {
    font-size: 2.0em;
    color: floralwhite;
}
#output {
    
    border: 3px rebeccapurple;
    font-size: x-large;
    color: ivory;
}